<div class="quiz-body">
    <div class="container">
        <div class="quiz-content">
            <div class="question">
                This will be a long question about your life?
            </div>
            <div class="option-container">
                <label>
                    <input type="radio" ng-model="color.name" value="red">
                    this could be a sligtly bigger answer
                  </label>
                  <label>
                    <input type="radio" ng-model="color.name" ng-value="specialValue">
                    Green
                  </label>
                  <label>
                    <input type="radio" ng-model="color.name" value="blue">
                    Blue
                  </label>
            </div>
        </div>
        <div class="quiz-button">
            <span>
                Next Question
            </span>
        </div>
    </div>
</div>