<div class="box">
    <div class="row header">
        <nav class="navbar">
            <span class="navbar-toggle" id="js-navbar-toggle" >
                hamburger
            </span>
            <a href="/" class="logo">Angular Learnings</a>
        </nav>
    </div>
    <div class="row content">
        <div class="quiz-body">
            <div class="container">
                <div class="quiz-content">
                    <div class="option-container">
                        <div class="items">
                             username <input class="login-input" type="text" [(ngModel)] = "username" />
                        </div>
                        <div class="items">
                            password <input class="login-input" type="password" [(ngModel)] = "password"/>
                        </div>
                    </div>
                    <div class="question">
                        <button class="login-button" (click) = "login()">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


